<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Dart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
		
  <userSettings>
    <Dart.Properties.Settings>
      <setting name="WindowHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CurrentCulture" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="ShowUserInterfaceDartBoardData" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BaseColorScheme" serializeAs="String">
        <value>Light</value>
      </setting>
      <setting name="ColorScheme" serializeAs="String">
        <value>Purple</value>
      </setting>
    </Dart.Properties.Settings>
  </userSettings>

	<appSettings>
		<add key="serilog:minimum-level" value="Verbose"/>

		<add key="serilog:using:Console" value="Serilog.Sinks.Console" />
		<add key="serilog:write-to:Console" />
		<add key="serilog:write-to:Console.outputTemplate" value="[{Timestamp:dd:MM:yyyy HH:mm:ss}] [{Level:u3}] {SourceContext} {Message}{NewLine}{Exception}" />

		<add key="serilog:using:Debug" value="Serilog.Sinks.Debug" />
		<add key="serilog:write-to:Debug" />
		<add key="serilog:write-to:Debug.outputTemplate" value="[{Timestamp:dd:MM:yyyy HH:mm:ss}] [{Level}] {SourceContext} {Message}{NewLine}{Exception}" />
	</appSettings>
	
</configuration>