<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.3.0" targetFramework="net461" />
  <package id="DartCore.GameLogic" version="1.0.3-20201217.2" targetFramework="net461" />
  <package id="MahApps.Metro" version="2.1.0" targetFramework="net461" />
  <package id="MarcSchuermann.Core" version="1.0.4" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net461" />
  <package id="NLog" version="4.4.12" targetFramework="net461" />
  <package id="StyleCop" version="5.0.0" targetFramework="net452" />
  <package id="Syncfusion.PropertyGrid.WPF46" version="15.4.0.20" targetFramework="net461" />
  <package id="Syncfusion.Shared.WPF46" version="15.4.0.20" targetFramework="net461" />
  <package id="Syncfusion.Tools.WPF46" version="15.4.0.20" targetFramework="net461" />
  <package id="Wpf.MvvmTools" version="1.0.3" targetFramework="net452" />
</packages>